h1{
  color: red;
}


#intro{
  max-width: 50%;
  border: black solid 20px;
}

#intro:hover{
  box-shadow: 5px 10px orange;
  cursor: pointer;
}

body{
  color: brown;
}

.quote{
  color: gray;
}

.quote .narrator{
  color: black;
}

#intro p{
  color: green;
}